<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css"> 
    <title>Trailerflix</title>
    <script src="script.js" defer></script> <!-- Agrega el script JavaScript -->
</head>

<body>
    <div class="container">
        <div class="text">
            <div class="text-content">
                <h1>Bienvenid@ a Trailerflix!</h1>
                <p>La mejor plataforma para ver trailers de películas y series.</p>
            </div>
           
        </div>
        <div class="form">
            <form action="/search" method="GET">
                <input type="text" name="title" placeholder="Buscar...">
                <button type="submit">Buscar</button>
            </form>
    </div>
</body>
</html>